@media (min-width: 55em) {
    main {
        margin: auto;
        width: 55em;
    }
}

.mdc-toolbar-fixed-adjust {
    margin-top: 80px;
}

.mdc-card {
    margin-top: 2em;
    padding: 1em;
}

#about-content {
    display: block;
}

#about-img {
    float: right;
    width: 120px;
}