#about {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

#about-img {
    margin: auto;
    width: 120px;
}

#publi {
    margin: auto;
    max-width: 50rem;
}

#publi h2 {
    margin-left: 2rem;
}

#publi .mdc-list-item {
    height: 90px;
}

/*
#publi {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #dddddd;
}

#publi-title {
    text-align: center;
}


#publi-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: -2.5em;
}

#publi-list li {
    display: block;
    max-width: 35rem;
    margin: auto;
    padding: 0.5em;
}

.public-card h3 {
    margin: 1rem;
}

.public-card p {
    margin: 1rem;
}
 */